<section class="container pt-xl-5 pl-xl-4">
    <br>
    <form action="/patients/{{patient.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="">Hospitals:</label>

            <select name="hospital" id="hospital" class="form-control">

                {{#select patient.hospital}}

                {{#each hospitals}}

                <option value="{{id}}">{{name}}</option>

                {{/each}}

                {{/select}}

            </select>

        </div>
        <div class="form-group">
            <label for="">Name:</label>
            <input type="text" name="name" class="form-control" value="{{patient.name}}">
        </div>

        <div class="form-group">
            <label for="">Category:</label>

            <select name="category" id="category" class="form-control">

                {{#select patient.category}}

                {{#each categories}}

                <option value="{{id}}">{{name}}</option>

                {{/each}}

                {{/select}}
            </select>

        </div>



        <div class="form-group">
            <label for="">Date Of Admission:</label>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">from:</span>
            </div>
            <input type="text" class="form-control datepicker" name="dateOfAdmission"
                value="{{patient.dateOfAdmission}}" data-provide="datepicker" data-date-format="mm/dd/yyyy">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">to:</span>
            </div>
            <input type="text" class="form-control datepicker" name="dateOfAdmissionTo"
                value="{{patient.dateOfAdmissionTo}}" data-provide="datepicker" data-date-format="mm/dd/yyyy">
        </div>
        <br>

        <div class="form-group">
            <label for="">Room:</label>
            <input type="text" name="room" class="form-control" value="{{patient.room}}" required>
        </div>

        <div class="form-group">
            <label for="">LOG:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                        aria-describedby="inputGroupFileAddon01" name="myImage">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file, max 3mb</label>
                </div>

            </div>
            <img src="#" id="imgPreview" alt="" style="margin: 50px">

            <img src="/uploads/{{patient.myImage}}" id="myImage" alt="" width="150" style="margin: 50px">
        </div>



        <div class="form-group">
            <label for="">Card Number:</label>
            <input type="text" name="cardNum" class="form-control" value="{{patient.cardNum}}" required>
        </div>

        <div class="form-group">
            <label for="">Company:</label>
            <input type="text" name="company" class="form-control" value="{{patient.company}}" required>
        </div>

        <div class="form-group">
            <label for="">Birthday:</label>
            <input type="text" class="form-control datepicker" name="birthday" value="{{patient.birthday}}"
                data-provide="datepicker" data-date-format="mm/dd/yyyy">
        </div>

        <div class="form-group">
            <label for="">Principal:</label>
            <input type="text" name="principal" class="form-control" value="{{patient.principal}}" required>
        </div>

        <div class="form-group">
            <label for="">Principal Birthday:</label>
            <input type="text" class="form-control datepicker" name="principalBirthday"
                value="{{patient.principalBirthday}}" data-provide="datepicker" data-date-format="mm/dd/yyyy">
        </div>

        <div class="form-group">
            <label for="">Class Name:</label>
            <input type="text" name="className" class="form-control" value="{{patient.className}}" required>
        </div>

        <div class="form-group">
            <label for="">Plan:</label>
            <input type="text" name="plan" class="form-control" value="{{patient.plan}}" required>
        </div>

        <div class="form-group">
            <label for="">Room And Board Allowance:</label>
            <input type="text" name="roomAndBoardAllowance" class="form-control"
                value="{{patient.roomAndBoardAllowance}}" required>
        </div>

        <div class="form-group">
            <label for="">SHS:</label>
            <input type="text" name="shs" class="form-control" value="{{patient.shs}}" required>
        </div>

        <div class="form-group">
            <label for="">Util:</label>
            <input type="text" name="util" class="form-control" value="{{patient.util}}" required>
        </div>

        <div class="form-group">
            <label for="">PEC Waived:</label>
            <select name="pecWaived" id="" class="form-control">

                {{#select patient.pecWaived}}
                <option value="Yes"> </option>
                <option value="No">No</option>
                <option value="Yes">Yes</option>
                {{/select}}

            </select>
        </div>

        <div class="form-group">
            <label for="">Exp:</label>
            <input type="text" class="form-control datepicker" name="exp" value="{{patient.exp}}"
                data-provide="datepicker" data-date-format="mm/dd/yyyy">
        </div>

        <div class="form-group">
            <label for="">FDX:</label>
            <input type="text" name="fdx" class="form-control" value="{{patient.fdx}}" required>
        </div>


        <div class="form-group">
            <label for="">GHB:</label>
            <input type="text" name="ghb" class="form-control" value="{{patient.ghb}}" required>
        </div>

        <div class="form-group">
            <label for="">PHIC:</label>
            <input type="text" name="phic" class="form-control" value="{{patient.phic}}" required>
        </div>

        <div class="form-group">
            <label for="">Doctor:</label>
            <input type="text" name="doctor" class="form-control" value="{{patient.doctor}}" required>
        </div>

        <div class="form-group">
            <label for="">Alga:</label>
            <input type="text" name="alga" class="form-control" value="{{patient.alga}}" required>
        </div>
        <div class="form-group">
            <label for="">Additional Details:</label>
            <textarea name="additionalDetails" cols="30" rows="10" class="form-control" required>{{patient.additionalDetails}}
            </textarea>
        </div>



        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</section>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            let reader = new FileReader();

            reader.onload = function (e) {
                $("#imgPreview").attr('src', e.target.result).width(100);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#inputGroupFile01").change(function () {
        readURL(this);
    });
</script>

{{> _mymodals }}